@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Sign up for the AzureUp! Newsletter.
            </p>
        </div>
    </section>
}
<h3>The AzureUp! Newsletter is written for Business Owners, Architects, and Developers who depend on the Windows Azure Cloud Platform for run their businesses.</h3>
<ol class="round">
    <li class="one">
        <h5>Technical Business Concerns</h5>
        AzureUp! focuses on helping you understand what we call Technical Business concerns. These include technology decisions that
        should be made with a business mindset.  
    </li>

    <li class="two">
        <h5>Stay Up-to-Date with Key Windows Azure News</h5>
        We'll let you know about announcements.
    </li>

    <li class="three">
        <h5>We'll also watch the Windows Azure Status</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>
